image: registry.videolan.org/videolan-gitlab-pages:20200201115354

variables:
  HTML_BASEURL: https://docs.videolan.me/vlc-user
  VERSION: $CI_COMMIT_REF_NAME

pages:
  tags:
  - pages
  stage: deploy
  script:
  - make versioned_localized_html LANGUAGE=en
  - make versioned_redirect LANGUAGE=en
  - mkdir -p public
  - mv _build/html/* public/
  artifacts:
    paths:
    - public

# Create a global redirection from root url to the "latest" english site
redirect:
  tags:
  - pages
  stage: deploy
  script:
  - make global_redirect LANGUAGE=en
  - mkdir -p public
  - mv _build/html/* public/
  artifacts:
    paths:
    - public
  only:
    refs:
      - branches
    variables:
      - $RELEASE == "3.0"

