/* -- Extra CSS styles for RTD theme ---------- */

h5 {margin-bottom: 5px}

/* Sidebar menu links. */
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {background: #c0c0c0}
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {background: #b5b5b5}
.wy-menu-vertical li.toctree-l4 {font-size: 1em}
.wy-menu-vertical li.current a {border: 0}
.wy-side-nav-search > a:hover {background: none; opacity: 0.9}
.wy-side-nav-search > a.icon::before {content: none}

/* 'kbd' role. */
.kbd.docutils.literal {
	font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
	font-size: 85%;
	font-weight: normal;
	color: #404040;
}

/* Ensure background of input fields is light color even when a local theme wants it to be dark. */
input[type="text"], input[type="search"], input[type="password"],
input[type="email"], input[type="url"],
input[type="date"], input[type="month"], input[type="week"], input[type="time"],
input[type="datetime"], input[type="datetime-local"],
input[type="number"], input[type="tel"], input[type="color"] {
	background-color:#FCFCFC;
}

/* Fixes overlay of "align-right" images on block. */
.rst-content .admonition {overflow: auto}

/* Boxed paragraphs. */
.rst-content .refbox .admonition-title {background-color: #bbb}
.rst-content .refbox {
	-webkit-font-smoothing: antialiased;
	background-color: #e3e3e3;
	line-height: 24px;
	margin-bottom: 24px; padding: 12px;
}
.rst-content .seealso .admonition-title {background-color: #7a87e6}
.rst-content .seealso {background-color: #e7ebfa}
.rst-content .important .admonition-title {background-color: #ddca3b}
.rst-content .important {background-color: #f6f3a5}

/* refbox =, seealso ( > ), note ( i ), tip i , hint (+), warn / ! \ */
.refbox .admonition-title::before {content:"\f00b"}
.seealso .admonition-title::before{content:"\f138"}
.note .admonition-title::before{content:"\f05a"}
.tip .admonition-title::before{content:"\f129"; width: 0.75em; text-align: center}
.hint .admonition-title::before{content:"\f055"}
.warning .admonition-title::before{content:"\f071"}

/* 'refbox' field. */
.refbox .field-list .field-name, .refbox .field-list .field-body {
	padding: 0px;
}
.refbox .field-name {font-weight: normal}

/* Ugly 'red' literals. */
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
	color:#404040;
}

/* Literal blocks that use too much padding, make them look like regular literals. */
.rst-content pre.literal-block {
	font-size: 75%;
	margin:0;
	padding:2px 4px;
	color:#404040;
	background: #ffffff;
	white-space: normal;
	display: inline;
}

/* Without this, paragraphs in bullet points within definition lists have too much vertical padding. */
.rst-content li > p {
	margin-bottom: 0px !important;
}

/* TABLE & FIGURE */

/* Moves captions to bottom. */
table {caption-side: bottom}

/* captions text style */
.rst-content .figure .caption,
.rst-content table.docutils caption,
.rst-content table.field-list caption {
	font: italic 90%/18px Lato, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
	color: #808080;
}

/* Captions top padding. */
.rst-content .figure .caption { margin-top: 4px; }
.rst-content table.docutils caption { padding: 0.5em; }

/* Text word wrap. */
.wy-table-responsive table td,
.wy-table-responsive table th { white-space: normal; }

/* Cell's vertical align. */
/* use "valign" class for middle align. */
.rst-content table.docutils:not(.valign) td { vertical-align: baseline; }

/* Field list align. */
.rst-content table.field-list td { padding-top: 8px; }

/* Perma-link to table, hide until hover. */
.rst-content table.docutils caption .headerlink { visibility: hidden; }
.rst-content table.docutils caption:hover .headerlink { visibility: visible; }

/* Table header cells border color. */
.rst-content table.docutils th { border-color: #e1e4e5; }

/* Figure in table margin. */
.rst-content td div.figure {
	margin-top: 4px; margin-bottom: 0;
}

/* Figure legend. */
.legend {
	font-size: 90%;
	color: #484848;
	margin-top: -20px;
}
.rst-content dl .legend { margin-top: -10px; }

@media screen and (max-width: 768px){

	.wy-table-responsive table:not(.footnote) { min-width: 520px; }
	.rst-content table.docutils caption { text-align: left; }
	img { width: auto; }

}

/* End TABLE & FIGURE. */

/* Video center. */
iframe {
	display: block;
	margin: 0 auto 24px auto;
}

/* Copyright font scale down. */
footer p{ font-size: smaller}

/* Download link (zip). */
.download span {color: #2980B9; font-weight: normal; cursor: pointer !important}
.download span:hover {color:#3091d1}
.download span:visited {color:#9B59B6}
.download span:first-child::before {color:#4e4a4a}

/* Breadcrumbs "Docs" and "View page source" to icons. */
.wy-breadcrumbs {
	position: relative;
	padding-right: 30px;
}
.wy-breadcrumbs-aside a {
	position: absolute;
	top: 2px;
	right: 0;
}
.wy-breadcrumbs-aside a,
.wy-breadcrumbs li:first-child a {
	line-height: 0;
	font-size: 0;
}
.wy-breadcrumbs-aside a::before {
	content: "\f121";
	font: 16px/1 FontAwesome;
	padding: 0 4px 0 8px;
}
.wy-breadcrumbs li:first-child a::before {
	content: "\f015";
	font: 16px/1 FontAwesome;
}
.wy-breadcrumbs-aside a:hover::after {
	content: "View page source";
	position: absolute;
	bottom: -6px;
	right: 0;
	font-size: 13px;
	color: gray;
	white-space: nowrap;
}

/* Spacing bugfix. */
.wy-breadcrumbs li a:first-child{padding:5px}
.wy-breadcrumbs li:first-child a{padding-left:0}
.wy-breadcrumbs li:nth-last-child(2){padding-left:5px}

/* Block-quote > dl bugfix. */
.rst-content dl{line-height:normal}
/* multi-paragraph dl bugfix */
.rst-content dl p{line-height:inherit}

/* Quotes for Fig. "link". */
a[href^="#fig-"]::before {content: "\201c";}
a[href^="#fig-"]::after {content: "\201d";}

/* Intermediate headline. */
.rubric {font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif}

/* ".. container::" lead, block text float around image. */
.lead {
	clear: both; width: 100%;
}

/* Draws a box around menuselection role. */
/* Temporary fix for "theme(0.2.5b2)" bug: no box around 'kbd' role. */
.menuselection, .kbd.docutils.literal {
	font-size: 90%;
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0.65);
	border: solid #E1E4E5 1px;
	white-space: nowrap;
	padding: 2px 5px;
}
@media screen and (max-width: 420px) {
	.menuselection {white-space: normal}
}
.caption .menuselection {
	background-color: transparent;
	border: none;
}
.caption .kbd {background-color: transparent}

/* Remove indent on line break. */
.rst-content .line-block {margin-left:0px}

/* Applied on main index:sections. */
/* Start section description. */
@media screen and (min-width: 450px){
	.tocdescr {
		display: flex; display: -webkit-flex;
		flex-flow: row wrap; -webkit-flex-flow: row wrap;
		justify-content: space-between; -webkit-justify-content: space-between;
		align-items: flex-start; -webkit-align-items: flex-start;
		align-content: flex-start; -webkit-align-content: flex-start;
		list-style-type: none;
		margin-bottom: 10px;
	}
	/* Dan Andreasson on Stack Overflow. */
	.tocdescr:after {
		content: "";
		flex: 1 0 33.3%; -webkit-flex: 1 0 33.3%;
		margin-left: 45px;
		align-self: stretch; -webkit-align-self: stretch;
	}
}
@media screen and (max-width: 450px) {
	.tocdescr {
		display: flex; display: -webkit-flex;
		flex-flow: column wrap; -webkit-flex-flow: column wrap;
		justify-content: space-between; -webkit-justify-content: space-between;
		align-items: flex-start; -webkit-align-items: flex-start;
		align-content: flex-start; -webkit-align-content: flex-start;
		list-style-type: none;
		margin-bottom: 10px;
	}
	.tocdescr:after {
		content: "";
		flex: none; -webkit-flex: none;
	}
}
.descr {
	flex: 2 0 33.3%; -webkit-flex: 2 0 33.3%;
	margin: 10px 15px;
	border-radius: .3em;
	user-select: none;
}
.descr div.figure {
	margin-bottom: 0px;
	display: block;
}
.descr img {
	border-top-left-radius: .3em;
	border-top-right-radius: .3em;
}
.descr dl {margin-bottom: 10px}
.descr dl dt > a {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.descr dl dt a em, .descr dl dt a span{
	font-weight: bold;
	font-style: normal;
	font-size: 1.3em;
}
.descr dl dt{padding: 18px 15px 0px!important}
.descr dl dd{
	padding: 0px 15px;
	font-style: normal;
	margin: 0px;
  color: #808080;
  font-size: 90%;
}
.descr {
	box-shadow: rgba(0,0,0,0.05) 0px 1px 4px 0px,
					rgba(211,216,223,0.33) 0px 15px 20px -1px;
}
#getting-started .descr {
  box-shadow: none;
}
/* End section description. */

/* Start custom toctree. */
.toctree-wrapper .toctree-l1 > a {margin-bottom: 0.15em}
/* Indent all lines following the first. */
.toctree-wrapper * a {
	display: block;
	width: 90%;
	text-indent: -1em;
	margin-left: 1em;/*invert indent*/
	padding-top: 0.25em;
	line-height: 1.25em;
}

/* Underline provided by nested ul (not li). */
.toctree-wrapper * ul {
	padding-left: 2em;
	border-top: solid #ececec 1px;
}
.toctree-wrapper > ul {margin-left: 1em}
.rst-content .toctree-wrapper ul li ul {
	margin-bottom: 0.75em;
	padding-top: 0.5em;
}
.rst-content .toctree-wrapper ul li a:hover {color: #25afef}
.rst-content .toctree-wrapper ul li a:visited:hover {color: #C961DA}
.toctree-wrapper .toctree-l1 > a{font-size: 104%}
.toctree-wrapper .toctree-l2 > a{font-size: 102%}
.toctree-wrapper .toctree-l3 > a{font-size: 100%}
.toctree-wrapper .toctree-l1 > ul{border-color: #bfbfbf}
.toctree-wrapper .toctree-l2 > ul{border-color: #e1e0e0}
.toctree-wrapper .toctree-l3 > ul{border-color: #ececec}
/* Remove list styling, css rule hierarchy. */
.rst-content .toctree-wrapper ul li, .rst-content .toctree-wrapper ul li li , .rst-content .toctree-wrapper ul li li li {
	list-style-type: none;
	margin-left: 0px;
}
/* End custom toctree. */

/* Start genindex consistency. */
.genindextable * strong {font-weight: normal}
.genindex-jumpbox {margin-bottom: 1.245em}
.indextable {margin-bottom: 1.245em}
/* End genindex consistency. */

/* start version */
/* Override RTD theme */
.rst-versions {
  border-top: 0px;
  overflow: visible;
}
.version-btn.vdeact {
  cursor: default;
  color: dimgray;
}

.version-btn.vdeact::after {
	content: "";
}
#versionwrap {
	display: block;
	padding: 2px 0px 30px;
	font-size: 90%;
}
.version-btn, .version-btn-open {
	position: relative;
	display: inline-block;
	background-color: #272525;
	width: 140px;
	text-align: center;
	padding: 3px 10px;
	margin: 0 5px;
	vertical-align: middle;
	z-index: 400;
	transition: border-color 0.4s;
}
.version-btn {
	color: #27AE60;
	border: solid 1px #444444;
	border-radius: 3px;
	cursor: pointer;
}
.version-btn::after {
	content:"\f0d8";
	display: inline;
	font: normal normal normal 16px/1 FontAwesome;
	color: #8d8c8c;
	vertical-align: top;
	padding-left: 0.5em;
}
.version-btn:hover, .version-btn:focus {
	border-color: #525252;
}
.version-btn-open {
	border-style: solid;
	color: gray;
	border-width: 1px;
	border-color: transparent gray gray gray;
	border-radius: 0px 0px 3px 3px;
	cursor: pointer;
}
.version-btn.wait {
	cursor: wait;
}
.version-btn.disabled {
	cursor: not-allowed;
	color: dimgray;
}
.version-list {
	display: none;
	position: absolute;
	bottom: 28px;
	width: 140px;
	margin: 0 5px;
	padding-bottom: 4px;
	text-align: center;
	background-color: #000C;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: gray;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 0 0 6px #000C;
	z-index: 399;
	max-height: calc(100vh - 30px);
	overflow-y: auto;
}
.version-list a, .version-list span, .version-list li {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 1.15;
	width: 100%;
	margin: 0;
	padding: 4px 0px;
	color: #404040;
}
.version-list li {
	background-color: #ede9e9;
	color: #404040;
	padding: 1px;
}
.version-list li:hover, .version-list li a:focus {
	background-color: #b9cfda;
}
.version-list li.selected, .version-list li.selected:hover {
	background-color: #8d8c8c;
}
.version-list li.selected span {
	cursor: default;
	outline-color: red;
}
/* End version. */

/* Start Sphinx 2.0 fixes. */
.rst-content .admonition > :last-child {margin-bottom: 0}
.rst-content .document dl dt {
	display: block;
	margin: 0;
	line-height: normal;
	font-size: 100%;
	background: transparent !important;
	color: inherit !important;
	border: none !important;
	padding: 0px;
}
.rst-content dl.field-list {
	display: grid;
	grid-template-columns: minmax(min-content,max-content) auto;
	column-gap: 20px;
	row-gap: 5px;
}
.rst-content dl.field-list dt {
	grid-column-start: 1;
	grid-column-end: 2;
	font-size: 90%;
}
.rst-content dl.field-list dt:after {
	content: ":";
	display: inline;
}
.rst-content dl.field-list dd {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 0;
}
.rst-content dl.field-list dd > p {
	font-size: 90%;
	margin: 0 !important;
}
.refbox dl dt {font-weight: normal}
/* End Sphinx 2.0 fixes */

.hlist {
	width: 100%
}


/* zephyr on Github */
 
 /* tweak doc version selection */
 .rst-versions {
    position: static !important;
 }
 
 
 .rst-versions .rst-current-version {
    padding: 5px;
    background-color: #2980B9;
    color: #80FF80;
 }
 
 .rst-versions .rst-other-versions {
    padding: 5px;
 }
 
 div.rst-other-versions dl {
    margin-bottom: 0;
 }
 
 
 /* code block highlight color in rtd changed to lime green, no no no */
 
 .rst-content tt.literal, .rst-content code.literal, .highlight {
    background: #f0f0f0;
 }
 .rst-content tt.literal, .rst-content code.literal {
     color: #000000;
 }
 
 
 /* Make the version number more visible */
 .wy-side-nav-search>div.version {
     color: rgba(255,255,255,1);
 }
 
 /* squish the space between a paragraph before a list */
 div > p + ul, div > p + ol {
    margin-top: -20px;
 }
 
 /* squish space before an hlist in a list */
 li table.hlist {
    margin-top: -10px;
    margin-bottom: 5px;
 }
 
 /* add some space before the figure caption */
 p.caption  {
     border-top: 1px solid;
     margin-top: 1em;
 }
 
 /* decrease line leading a bit, 24px is too wide */
 
 p {
    line-height: 22px;
 }
 
 /* add a colon after the figure/table number (before the caption) */
 span.caption-number::after {
    content: ": ";
 }
 
 p.extrafooter {
    text-align: right;
    margin-top: -36px;
 }
 
 table.align-center {
    display: table !important;
 }
 
 /* put the table caption at the bottom, as done for figures */
 table {
    caption-side: bottom;
 }
 
 .code-block-caption {
     color: #000;
     font: italic 85%/1 arial,sans-serif;
     padding: 1em 0;
     text-align: center;
 }
 
 /*  make .. hlist:: tables fill the page */
 table.hlist {
     width: 95% !important;
     table-layout: fixed;
 }
 
 /*  override rtd theme white-space no-wrap in table heading and content  */
 th,td {
     white-space: normal !important;
 }
 
 /* dbk tweak for doxygen-generated API headings (for RTD theme) */
 .rst-content dl.group>dt, .rst-content dl.group>dd>p {
    display:none !important;
 }
 .rst-content dl.group {
   margin: 0 0 12px 0px;
 }
 .rst-content dl.group>dd {
   margin-left: 0  !important;
 }
 .rst-content p.breathe-sectiondef-title {
   text-decoration: underline;  /* dbk for API sub-headings */
   font-size: 1.25rem;
   font-weight: bold;
   margin-bottom: 12px;
 }
 .rst-content div.breathe-sectiondef {
   padding-left: 0 !important;
 }
 
 /* doxygenXX item color tweaks, light blue background with dark blue top border */
 .rst-content dl:not(.docutils) dl dt, dl:not(.docutils,.rst-other-versions) dt {
   background: #e7f2fa !important;
   border-top: none !important;
   border-left: none !important;
 }
 
 
 /* tweak display of option tables to make first column wider */
 col.option {
   width: 25%;
 }
 
 /* tweak format for <kbd> (:kbd:`F10`) */
 kbd
 {
   -moz-border-radius:3px;
   -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
   -webkit-border-radius:3px;
   -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
   background-color:#f7f7f7;
   border:1px solid #ccc;
   border-radius:3px;
   box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
   color:#333;
   display:inline-block;
   font-family:Helvetica;
   font-size:11px;
   line-height:1.4;
   margin:0 .1em;
   padding:.1em .6em;
   text-shadow:0 1px 0 #fff;
 }
 
 /* home page grid display */
 
 .grid {
     list-style-type: none !important;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     margin: 1rem auto;
     max-width: calc((250px + 2rem) * 4);
 }
 
 .grid-item {
     list-style-type: none !important;
     -webkit-box-flex: 0;
         -ms-flex: 0 0 auto;
             flex: 0 0 auto;
     width: 200px;
     text-align: center;
     margin: 1rem;
 }
 
 .grid-item a {
     display: block;
     width: 200px;
     height: 200px;
     padding: 20px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     border: 1px solid rgb(255, 123, 0);
     background-color: #ffffff;
     color: #000000;
 }
 
 .grid-item h2 {
     font-size: 1.1rem;
 }
 
 .grid-item img {
     margin-bottom: 1.1rem;
     max-width: 75%;
 }
 
 .grid-item a:hover {
         background-color:  #b784a7;
     color: white;
 }
 
 
 .grid-item p {
     margin-top: 0.5rem;
     color: #333e48;
 }
 
 .grid-icon {
    line-height: 1.8;
    font-size: 4rem;
    color:#E85E00;
 }

 .rst-columns {
    column-width: 18em;
 }

.wy-side-nav-search > a img.logo {
    width: 50%;
}
